

{%extends 'lending/sidebar.html'%}
{%block content%}
<div class="container-fluid">

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm zoom" style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/overview.svg" alt="overview"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Loans Overview</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group align-items-center">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loans' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm zoom" style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/repay.svg" alt="repayment"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Total Repaid</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'payments' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm zoom" style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/payment.svg" alt="payment"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Total Payments</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'payments' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm zoom" style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/history.svg" alt="payment history"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Payment History</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loans' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm zoom"style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/status.svg" alt="status"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Borrow Status</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loans' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm zoom"style="width: 16rem;">
              <br>
              <img width="100%" height="100" src="/static/lending/images/analytics.svg" alt="status"/>
              
              <div class="card-body text-center">
                <p class="card-text"><strong>Analytics</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loans' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
{%endblock%}
