
<h1 class="fs-1 text-body-emphasis fw-bold text-decoration-underline text-center my-5">Offerings</h1>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
    <div class="feature col pulse">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis ">Borrow</h3>
      <p>Borrow with confidence on Peer2Peers! Enjoy lower interest rates, flexible loan terms, and fast access to funds with a simple online application. Benefit from no prepayment penalties, transparency, and community support.</p>
      <a href="#" class="icon-link">
        See more...
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col pulse">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
            <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916zM12.375 6v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2M.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1z"/>
          </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Lend</h3>
      <p>With Peer2Peers, you can invest confidently, knowing your money is working harder for you. Join our community of savvy lenders and start building your portfolio today!"</p>
      <a href="#" class="icon-link">
        See more...

      </a>
    </div>
    <div class="feature col pulse">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Grow</h3>
      <p>Grow your wealth with Peer2Peers! Earn attractive returns through diversified lending, with low barriers to entry and effortless auto-investment options. Enjoy transparent loan details, regular repayments, and proven risk management.</p>
      <a href="#" class="icon-link">
        See more...
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>