
<h1 class="fs-1 text-body-emphasis fw-bold text-decoration-underline text-center my-5">Offerings</h1>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
    <div class="shadow rounded feature col zoom text-center">
      <br>
      <div class="pulse feature-icon d-inline-flex justify-content-center bg-gradient fs-2 mb-3">
        <img width="100%" height="75" src="/static/lending/images/borrow.png"/>
      </div>
      <h3 class="fs-2 text-body-emphasis ">Borrow</h3>
      <p>Borrow with confidence on Peer2Peers! Enjoy lower interest rates, flexible loan terms, and fast access to funds with a simple online application. Benefit from no prepayment penalties, transparency, and community support.</p>
      <a href="#" class="icon-link">
        See more...
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="shadow feature col zoom text-center">
      <br>
      <div class="pulse feature-icon d-inline-flex bg-gradient fs-2 mb-3">
        <img width="100%" height="75" src="/static/lending/images/lend.png" alt="external-lend-money-investment-others-pike-picture"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">Lend</h3>
      <p>With Peer2Peers, you can invest confidently, knowing your money is working harder for you. Join our community of savvy lenders and start building your portfolio today!"</p>
      <a href="#" class="icon-link">
        See more...

      </a>
    </div>
    <div class=" shadow feature col zoom text-center">
      <br>
      <div class=" pulse feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <img width="100%" height="75" src="/static/lending/images/grow.png"/>
      </div>
      <h3 class="fs-2 text-body-emphasis">Grow</h3>
      <p>Grow your wealth with Peer2Peers! Earn attractive returns through diversified lending, with low barriers to entry and effortless auto-investment options. Enjoy transparent loan details, regular repayments, and proven risk management.</p>
      <a href="#" class="icon-link">
        See more...
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>