{% extends 'lending/base.html' %}

{% block content %}

<main class="container-fluid">

  {% if user.is_authenticated %}

    <div class="container">

      {% include 'lending/dashboard.html' %}

    </div>


  {% else %}
    <section class="container hero">
      <div data-aos="fade-right">
        {% include 'lending/hero.html' %}
      </div>
    </section>
      <hr>
      <div class="b-example-divider mb-0"></div>
    <section id="features">
      <div data-aos="fade-left">
      
        {% include 'lending/features.html' %}
      </div>
    </section>
    <hr>
    <section>
      <div data-aos="fade-down-right">
        {% include 'lending/borrower_benefits.html' %}
      </div>
      <hr>
      <div data-aos="fade-up">
        {% include 'lending/lender_benefits.html' %}
      </div>
    </section>

  </main>

  <script>
    AOS.init();
  </script>
  




{% endif %}

{% endblock %}