{% extends 'lending/base.html' %}
    
{% block content %}

    <h1>Loan Details</h1>

        <div class="album py-4 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div class="col">
                        <div class="card shadow-sm zoom" style="width: 16rem;">
                            <br>
                        <div class="text-center">
                        <img width="40%" height="100"  src="/static/lending/images/applyform.png" alt="application icon"/>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Apply</strong></p>
                            <div class="d-flex justify-content-center ">
                                <div class="btn-group align-items-center">
                                    <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loan_application' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                                    
                                </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm zoom" style="width: 16rem;">
                        <br>
                        <div class="text-center">
                        <img width="40%" height="100" src="/static/lending/images/apphistory.png" alt="overview"/>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Applications History</strong></p>
                            <div class="d-flex justify-content-center ">
                            <div class="btn-group align-items-center">
                                <button type="button" class="btn btn-sm text-white btn-secondary"><a href="{% url 'loan_applications' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                                
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm zoom" style="width: 16rem;">
                        <br>
                        <div class="text-center">
                        <img width="40%" height="100" src="/static/lending/images/messaging.png" alt="overview"/>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Messages</strong></p>
                            <div class="d-flex justify-content-center">
                            <div class="btn-group text-center ">
                                <button type="button" class="btn btn-sm text-center text-white btn-secondary"><a href="{% url 'loans' %}" class=" px-2 text-white" style="text-decoration:none;">View</a></button>
                                
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    <hr>
       <div class="align-items-center">
    
        
            

        </div>
      



{% endblock content %}