{% extends "lending/base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Borrower</h4>
        </div>
        <div class="card-body">
          
          <ul class="list-unstyled mt-3 mb-4">
            <li>Quick application and approval process</li>
            <br>
            <li>Clear terms and repayment schedules</li>
            <br>
            <li>Convenient, paperless process</li>
            <br>
            <li>Various repayment plans to suit your needs</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a style="text-decoration:none;" href={% url 'register' %}>Sign up for free</a></button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Lender</h4>
        </div>
        <div class="card-body">
          
          <ul class="list-unstyled mt-3 mb-4">
            <li>Transparent Loan Details</li>
            <br>
            <li>Proven creditworthiness assessment</li>
            <br>
            <li>Invest with minimal capital</li>
            <br>
            <li>Low Barrier to Entry 
            </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-light" style="text-decoration:none;" href={% url 'register' %}>Get started</a></button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Grow</h4>
        </div>
        <div class="card-body">
          
          <ul class="list-unstyled mt-3 mb-4">
            <li>Earn competitive interest rates</li>
            <br>
            <li>Effortless portfolio management</li>
            <br>
            <li>Phone and email support</li>
            <br>
            <li>Access funds when needed</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
