
    <div class="container-fluid">
        <div class="row ">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary text-white sidebar collapse ">
                <div class="position-sticky pt-3">
                    <a href="{% url 'home' %}" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img width="32" height="32" src="/static/lending/images/profile.svg" alt="default_profile_pic" class="rounded-circle me-2"/>
                        
                        <strong>{{user.username}}</strong>
                    </a>
                    
                    <hr>
                    <ul class="nav nav-underline flex-column mb-auto">
                        <li class=" nav-item btn btn-outline-secondary">
                        
                            <a class=" px-2 text-dark" aria-current="page" href="{% url 'home' %}" style="text-decoration:none" >Dashboard</a>
                            
                        </li>
                        
                        <li class="nav-item btn btn-outline-secondary ">
                            <a class=" px-2 text-dark" href="{% url 'loans' %}" style="text-decoration:none" >Loans</a>
                        </li>
                    
                        <li class="nav-item btn btn-outline-secondary">
                            <a class=" px-2 text-dark " href="{% url 'payments' %}" style="text-decoration:none" >Payments</a>
                        </li>
                        
                        <li class="nav-item btn btn-outline-secondary">
                            <a class="px-2 text-dark" href="{% url 'profile' %}" style="text-decoration:none" >Profile</a>
                        </li>
                
                        <li class="nav-item btn btn-outline-secondary">
                            <a class=" px-2 text-dark" href="{% url 'borrower_verification' %}"style="text-decoration:none">KYC</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </div>

